# This will ignore my test.py files
test*
# this will ignore any files ending with ex123
*ex123
# Below will ignore all _pycache_ folder
**/__pycache__/
# Below will ignore the output generated during testing in my Local PC
**/ScriptOutput/
